<div class="card" style="width: 500px; height: 560px">
  <img
    src="https://ucarecdn.com/dc362b0a-34e8-454c-a370-133fd3b83a45/-/resize/601x326/"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Blogging</h5>
    <p class="card-text">
      Blogging refers to writing, photography, and other media that's
      self-published online. Blogging started as an opportunity for individuals
      to write diary-style entries, but it has since been incorporated into
      websites for many businesses. The hallmarks of blogging include frequent
      updates, informal language, and opportunities for readers to engage and
      start a conversation.
    </p>
    <a routerLink="create" class="btn btn-primary">Create Yours</a>
    <router-outlet></router-outlet>
  </div>
</div>
